<div class="container main-container" *ngIf="house">
    <img src="../../../assets/icons/card-icons/house{{id > 10 ? 3 : id}}.png" width="150" />
    <h3>{{house.name}}</h3>
    <div class="container value-container" *ngIf="dataIsLoaded">

        <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th class="table-header text-center" scope="col" colspan="2">House details</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Region</th>
                <td>{{house.region ? house.region : '-'}}</td>
              </tr>
              <tr>
                <th scope="row">Coat of arms</th>
                <td>{{house.coatOfArms ? house.coatOfArms : '-'}}</td>
              </tr>
              <tr>
                <th scope="row">Words</th>
                <td>{{house.words ? house.words : '-' }}</td>
              </tr>
              <tr>
                <th scope="row">Titles</th>
                <td>
                  <p *ngIf="house.titles.length === 1 && house.titles[0] === ''">-</p>
                  <p *ngFor="let title of house.titles">{{title}}</p>
                </td>

              </tr>
              <tr>
                <th scope="row">Seats</th>
                <td>
                  <p *ngIf="house.seats.length === 1 && house.seats[0] === ''">-</p>
                  <p *ngFor="let seat of house.seats">{{seat}}</p>
                </td>
              </tr>
              <tr>
                <th scope="row">Current lord</th>
                <td><p>{{currentLord ? currentLord.name : '-'}}</p></td>
              </tr>
              <tr>
                <th scope="row">Heir</th>
                <td><p>{{heir ? heir.name : '-'}}</p></td>
              </tr>
              <tr>
                <th scope="row">Overlord</th>
                <td><p>{{overLord ? overLord.name : '-'}}</p></td>
              </tr>
              <tr>
                <th scope="row">Ancestral Weapons</th>
                <td>
                  <p *ngIf="house.ancestralWeapons.length === 1 && house.ancestralWeapons[0] === ''">-</p>
                  <p *ngFor="let ancestralWeapon of house.ancestralWeapons">{{ancestralWeapon}}</p>
                </td>
              </tr>
              <tr>
                <th scope="row">Cadet Branches</th>
                <td>
                  <p *ngIf="house.cadetBranches.length === 0">-</p>
                  <p *ngFor="let cadetBranch of house.cadetBranches">{{cadetBranch}}</p>
                </td>
              </tr>
              <tr>
                <th scope="row">Sworn member</th>
                <td>
                  <p *ngIf="swornMembers.length === 0">-</p>
                  <p *ngFor="let swornMember of swornMembers">{{swornMember.name}}</p>
                </td>
              </tr>
            </tbody>
        </table>

    </div>
</div>



<!-- {url: "https://anapioficeandfire.com/api/houses/1", name: "House Algood", region: "The Westerlands", coatOfArms: "A golden wreath, on a blue field with a gold border(Azure, a garland of laurel within a bordure or)", words: "", …}
url: "https://anapioficeandfire.com/api/houses/1"
name: "House Algood"
region: "The Westerlands"
coatOfArms: "A golden wreath, on a blue field with a gold border(Azure, a garland of laurel within a bordure or)"
words: ""
titles: [""]
seats: [""]
currentLord: ""
heir: ""
overlord: "https://anapioficeandfire.com/api/houses/229"
founded: ""
founder: ""
diedOut: ""
ancestralWeapons: [""]
cadetBranches: []
swornMembers: [] -->
