:host {
  width: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        margin-bottom: 2rem;
    }

    h3 {
        font-family: 'got-font', Arial, Helvetica, sans-serif;
        font-size: 1.5em;
    }
}

.value-container {
    margin-top: 2rem;

    .table-header {
      font-family: 'got-font', Arial, Helvetica, sans-serif;
      font-size: 1em;
    }

    p {
      margin: 0px;
    }
}
