<div class="card" routerLink="/house-detail/{{house?.id}}">
  <div class="bd-placeholder-img card-img-top card-image-container">
    <img src="../../../assets/icons/card-icons/{{houseType}}/house{{house?.id > 10 && houseType === 'small' ? 3 : house?.id}}.png" width="100%" />
  </div>
  <div class="card-body">
    <h5 class="card-title text-truncate">{{house?.name.replace('House', '')}}</h5>
    <h6 class="card-subtitle mb-2 text-muted text-truncate">{{house?.region ? house?.region : '-'}}</h6>
  </div>
</div>
