.search-container {
  margin-bottom: 1.5rem;
}

.information-container {
  padding-bottom: 1rem;

  .house-count {
    margin-right: 0.5rem;
  }
}

.filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.25);
}

.card-container {
  border-bottom: 1px solid lightgray;

  .col-sm-3 {
    width: 50%;
  }
}


@media (min-width: 768px) {
  .card-container {
    border-left: 1px solid lightgray;
  }

  .search-container {
      padding-left: 10rem;
      padding-right: 10rem;
  }

  .information-container {
    .house-count {
      margin-right: 1.5rem;
    }
  }

  .row {
    padding-top: 1rem;
    max-height: 600px;
    overflow-y: auto;
  }

  .col-sm-3 {
    width: 100%;
  }
}
