<div class="container overview-container">
    <div class="container text-center shadow p-3 mb-5 bg-white rounded detail-container fire"
       routerLink="/main-houses/" >
        <img src="../../../assets/icons/bonfire.svg" width="50" />
        <h4>Main Houses</h4>
        <p class="text-muted">Navigate to this page to display all main houses within the Game of Thrones universe</p>
    </div>
    <div class="container text-center shadow p-3 mb-5 bg-white rounded detail-container ice"
       routerLink="/small-houses/">
        <img src="../../../assets/icons/snow.svg" width="50" />
        <h4>Small Houses</h4>
        <p class="text-muted">Navigate to this page to display all small houses within the Game of Thrones universe</p>
    </div>
</div>
