.overview-container {
    display: flex;
    flex-direction: column;
}

.detail-container {
    padding: 2rem;
    margin-right: 1rem;
    border: 1px solid lightgrey;

    h4 {
        font-family: 'got-font', Arial, Helvetica, sans-serif;
    }

    img {
        margin-bottom: 1rem;
    }

    &.fire:hover {
      border-color: orange;
      box-shadow: 0 .125rem .25rem orange!important;
      cursor: pointer;
    }

    &.ice:hover {
        border-color: #96D1DD;
        box-shadow: 0 .125rem .25rem #96D1DD!important;
        cursor: pointer;
    }
}

@media (min-width: 768px) {
    .overview-container {
      flex-direction: row;
    }
}
