header {

  box-shadow: 0 5px 5px -5px #333;
  z-index: 1;

  .navigation {
    cursor: pointer;
  }

  .navbar {
    display: flex;
    padding-left: 7px;
    padding-right: 7px;

    a {
      margin-right: 0px;
      flex: 1;
      text-align: center;
    }

    button {
      color: white;
    }
  }

  .title {
    cursor: pointer;
  }
}

main {

    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .jumbotron {
      padding: 1rem;
      margin-bottom: 0;

      .lead {
        display: none;
      }
    }

    .banner-container {
        padding-bottom: 1rem;

        img {
          width: 200px;
        }
    }

    .album-container {
      align-items: center;
      display: flex;
      justify-content: center;
      flex: 1;
      padding-top: 2rem;
      padding-bottom: 3rem;
  }
}

footer {
    z-index: 1;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.75rem;
    box-shadow: 0 -5px 5px -5px #333;

    .license-container,
    .icon-container,
    .content-container {
      display: none;
    }

    .creator-container {
      a {
        margin-right: 1em;
      }
    }

}

@media (min-width: 768px) {

  main {

    overflow-y: none;

    .jumbotron {
      padding: 2rem;
      margin-bottom: 0;

    h2 {
      font-size: 1.5em;
      font-family: 'got-font', Arial, Helvetica, sans-serif;
    }

     .lead {
        display: block;
        font-size: 1rem;
      }
    }

    .banner-container {
      padding-bottom: 2rem;

      img {
        width: 300px;
      }
   }
  }

  footer {
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-size: 1rem;

    .footer-social-container {
        display: flex;

        .creator-container,
        .icon-container,
        .content-container,
        .license-container {
            display: flex;
            flex-direction: column;
            justify-content: center;

            img,
            a,
            p {
                margin-bottom: 0.5rem;
            }
        }

        .content-container {
            margin-left: 0.5rem;
        }

        .license-container {
          display: flex;
          flex-direction: column;
          margin-left: auto;
        }
    }

    .creator-container {
      margin-right: 1.5rem;
    }

}

}

