header {
  .navigation {
    cursor: pointer;
  }

  .title {
    cursor: pointer;
  }
}

main {

    flex: 1;
    display: flex;
    flex-direction: column;

    .jumbotron {
      padding: 2rem;
      margin-bottom: 0;

      .lead {
        display: none;
      }
    }

    .banner-container {
        padding-bottom: 2rem;
    }

    .album-container {
      align-items: center;
      display: flex;
      flex: 1;
      padding-top: 2rem;
      padding-bottom: 3rem;
  }
}

footer {
    padding-top: 3rem;
    padding-bottom: 1rem;

    .footer-social-container {
        display: flex;

        .creator-container,
        .icon-container,
        .content-container {
            display: flex;
            flex-direction: column;
            justify-content: center;

            img,
            a {
                margin-bottom: 0.5rem;
            }
        }

        .content-container {
            margin-left: 0.5rem;
        }
    }

    .creator-container {
      margin-right: 1.5rem;
    }

}

@media (min-width: 768px) {

  main {
    .jumbotron {
      padding: 2rem;
      margin-bottom: 0;

      .container {
        max-width: 40rem;
      }

     .lead {
        display: block;
      }
    }
  }

}

