<header>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand title" routerLink="/houses">
      <img src="../assets/icons/general/header_icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Game of Thrones - Showcase
    </a>
    <!-- <a routerLink="/houses">
      <img src="../assets/icons/home.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    </a> -->
    <a (click)="navigateBack()" class="navigation" *ngIf="">
      <img src="../assets/icons/general/arrow-back-outline.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    </a>
  </nav>
</header>

<main role="main">
  <section class="jumbotron jumbotron-fluid text-center">
    <div class="container d-inline-block align-top" >
      <div class="cotainer banner-container">
        <img src="../assets/banner/got_logo.svg">
      </div>
      <h2>House collection</h2>
      <p class="lead text-muted">
        This application presents all houses of Game of Thrones.
        By clicking on a single house the application shows a information page with detailed information
        to the specific house.
      </p>
    </div>
  </section>
  <div class="container album-container">
    <router-outlet></router-outlet>
  </div>
</main>

<footer class="footer bg-light">
 <div class="container text-muted">
   <div class="license-container float-right">
   </div>

   <div class="footer-social-container">
      <div class="creator-container">
        <a href="https://github.com/Manu1909/got-showcase">GoT - Showcase app</a>
        <a>Created by Manuel Entenmann</a>
      </div>
      <div class="icon-container">
        <img src="../assets/icons/general/github.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        <img src="../assets/icons/general/twitter.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      </div>
      <div class="content-container">
        <a href="https://github.com/Manu1909">Manu1909</a>
        <a href="https://twitter.com/_ME_83">_ME_83</a>
      </div>
      <div class="license-container">
        <p>License</p>
        <a href="https://opensource.org/licenses/mit-license.php">MIT License</a>
      </div>
   </div>

 </div>
</footer>




