main {

    .jumbotron {
      padding: 2rem;
      margin-bottom: 0;
    }

    .jumbotron .container {
        max-width: 40rem;
    }

    .banner-container {
        padding-bottom: 2rem;
    }

    .album-container {
      padding-top: 2rem;
      padding-bottom: 3rem;
  }
}

footer {
    padding-top: 3rem;
    padding-bottom: 1rem;

    .footer-social-container {
        display: flex;

        .creator-container,
        .icon-container,
        .content-container {
            display: flex;
            flex-direction: column;
            justify-content: center;

            img,
            a {
                margin-bottom: 0.5rem;
            }
        }

        .content-container {
            margin-left: 0.5rem;
        }
    }

    .creator-container {
      margin-right: 1.5rem;
    }

}
